{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<div class="container my-5">
    <div class="row contents">
        <div class="col-md-6">
            {% comment %} <form method="POST" action="{% url 'editjob' id=job.job_id  %}">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </form> {% endcomment %}
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}

                <div class="row">

                <div class="form-outline col-md-12 mb-4">
                    <input type="text" name="job_title" id="job_title" class="form-control form-control-lg" value="{{usr.job_title}}" />
                    <label class="form-label" for="job_title">Job Title</label>
                </div>

                <div class="form-outline col-md-12 mb-4">
                    <input type="text" name="company" id="company" class="form-control form-control-lg" value="{{usr.company}}" />
                    <label class="form-label" for="company">Company</label>
                </div>

                </div>
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/script1.js"></script>

{% endblock %}