{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

{% for msg in messages %}
<script>
    alert("{{ msg|escapejs }}");
</script>
{% endfor %}

<section class="container-fluid px-0">

    <div class="row">
        {% comment %} <div class="tab col-md-4">
            <button class="tablinks" onclick="openCity(event, 'Profile')" id="defaultOpen">Profile</button>
            <button class="tablinks" onclick="openCity(event, 'Registration')">Registration</button>
            <button class="tablinks" onclick="openCity(event, 'Settings')">Settings</button>
        </div> {% endcomment %}
        <div class="tab">

            <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="" class="lsidebar">Profile</a>
                </li>
                <li class="nav-item">
                   <a href="" class="lsidebar">Registration</a>
                </li>
                <li class="nav-item">
                   <a href="" class="lsidebar">Settings</a>
                </li>
                <li class="nav-item">
                   <a href="/update-profile/{{user.username}}/" class="lsidebar">Edit Profile <i class="bi bi-pencil-square"></i></button></a>
                </li>
              </ul>
            
        </div>

        <div id="Profile" class="tabcontent">

            <div class="row pt-4">

                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">

                                        <img src="/media/{{user.profile.profile_image}}" alt="avatar"
                                            class="rounded-circle img-fluid"
                                            style="width: 140px; object-fit: contain; height: 140px;" />
                                        <p class="text-muted px-3 mb-0">{{user.username}}</p>

                                    </div>
                                    {% comment %} <div class="col-sm-4">
                                            <a href="/update_profile/{{user.id}}/"><button class="btn btn-primary edit">Edit Profile <i
                                                    class="bi bi-pencil-square"></i></button></a>
                                    </div> {% endcomment %}
                                    {% comment %} <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Launch demo modal
                                    </button>
                                </div> {% endcomment %}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0 fsizep"><a href="/media/{{user.profile.resume}}"
                                                target="_blank"><i
                                                    class="bi bi-file-earmark-text-fill text-primary"></i> View
                                                Resume</a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{user.email}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{user.profile.phone}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{user.profile.gender}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Institution/Organization</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{user.profile.institution}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="mb-0">Resume Data</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="text-muted mb-0">{{user.profile.resume_data}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mb-0">Skills</p>
                                    </div>
                                    <div class="col-md-12 p-3">
                                        {% for i in skill %}
                                        <div class="mb-0 skills">{{i}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mb-0">About</p>
                                    </div>
                                    <div class="col-md-12 p-3">
                                        <p class="text-muted mb-0">{{user.profile.profile_desc}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mb-0">Work At</p>
                                    </div>
                                    <div class="col-md-12 p-3">
                                        <p class="text-muted mb-0">{{user.profile.work_at}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mb-0">Position</p>
                                    </div>
                                    <div class="col-md-12 p-3">
                                        <p class="text-muted mb-0">{{user.profile.position}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <canvas id="myChart1" style="width:100%;max-width:625px"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <canvas id="myChart2" style="width:100%;max-width:625px"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        {% comment %} <div id="Registration" class="tabcontent">
            <h3 class="pt-4">Registration</h3>

        </div>

        <div id="Settings" class="tabcontent">
            <h3 class="pt-4">Settings</h3>

        </div> {% endcomment %}
    </div>

<!-- Modal -->

{% if pro == None %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Industry</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                <input type="text" name="industry" id="industry" class="form-control form-control-lg" required />
                <label class="form-label" for="otp">Work At</label>
        
                <div class="form-outline mb-4">
                <select id="someSelectElement" name="position" class="form-select" aria-label="Default select example" required>
                    <option value="">Select Position</option>
                    {% for i in inds %}
                    <option value="{{i.id}}" required>{{i.name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success btn-block" >Submit</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endif %}


</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#exampleModal').modal('show');
    });
</script>

{% endif %}

{% endblock %}